<h1 id="tableLabel" class="text-start">Stocks</h1>


<p *ngIf="!stocksdata?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="stocksdata.length">
    <thead>
        <tr>
            <th>		Stock Id            </th>
            <th>		 Stock Name           </th>
            <th>		 Stock Code           </th>
            <th>		 Sector              </th>
            <th>		 Captial             </th>
         
            <th>		 Dividend Yield       </th>
       
            <th>		 Low Value            </th>
            <th>		 High Value           </th>
            <th>		 Analysis Price       </th>
            <th>		 Action               </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let stock of stocksdata">
            <td>{{    stock.stockId      }}</td>
            <td>{{ stock.stockName            }}</td>
            <td>{{ stock.stockCode            }}</td>
            <td>{{ stock.sector               }}</td>
            <td>{{ stock.captial              }}</td>
         
            <td>{{ stock.divdentYield         }}</td>
           
            <td>{{ stock.lowValue             }}</td>
            <td>{{ stock.highValue            }}</td>
            <td>{{ stock.analysisPrice        }}</td>
            <td><button type="button" class="btn btn-bg-color" routerLink="/stocks/stock/{{stock.stockCode}}">View</button></td>
        </tr>
    </tbody>
</table>

